.pdp-product-view {

  .flexslider {
    &:hover {
      .flex-direction-nav {
        .flex-prev {
          opacity: 1;
          left: 0;
        }
        .flex-next {
          opacity: 1;
          right: 0;
        }
      }
    }
    .flex-direction-nav {
      a {
        margin: remCalc(-80px) 0 0 0;
        top: 50%;
        transform: translate(0, -50%);
        margin: 0;
        width: 50px;
        height: 64px;

        &:before {
          font-size: 14px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
        }
      }
      .flex-next {
        right: 0;
        font-size: 0;
      }
      .flex-prev {
        left: 0;
        font-size: 0;
      }
    }
    .flex-control-thumbs {
      position: absolute;
      top: 100%;
      bottom: unset;
      li {
        padding: stencilNumber("padding-small") * .5;
        width: 12.5%;
      }
      img {
        border: solid 1px #e0e0e0;
        opacity: 1;
      }
    }
  }
  .pdp-details {
    margin-top: 2px;

    .title {
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0;
      font-weight: fontWeight("semibold");
      color: stencilColor("color-textBase");
      margin-bottom: 10px;
      margin-top: 0;
    }
    .price-section {
      .price {
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0;
        text-transform: uppercase;
        color: stencilColor("color-textBase");
        font-weight: fontWeight("bold");
      }
      .retail {
        font-size: 13px;
        line-height: 1.5;
        letter-spacing: normal;
        font-weight: fontWeight("normal");
        margin-bottom: stencilNumber("padding-normal");
        color: stencilColor("color-primaryDark");
      }
      .afterpay-paragraph {
        text-transform: capitalize;
        margin: .5rem 0;
        margin: 6px 0 -6px;
        padding: 4px 0;
        font-size: 11px;
        font-weight: fontWeight("medium");
        text-transform: uppercase;
        letter-spacing: .1px;

        .afterpay-logo {
          position: relative;
          top: -1.5px;
          max-width: 90px !important;
          margin: 6px 1px;
        }
      }
    }
    .product-options {

      & .form-field {
        display: none;
      }

      .form-field[data-class='color-swatch'] {
        display: block;
        padding-bottom: stencilNumber("padding-normal");
        margin: 0;
        
        .variant-option-swatch {
          padding: 2px;
          margin: 2px;
          border: solid 1px transparent;
          width: 30px;
          height: 30px;
          box-sizing: content-box;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            display: inline-block;
          }

          .variant-option-expandeds {
            display: inline-block;
            font-size: 12px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translate(-50%, 0);
            transition: all .3s linear;
            opacity: 0;
            width: max-content;
            font-weight: 700;
            border-radius: 3px;
            text-transform: capitalize;
            border: 1px solid lightgray;
            padding: 4px 8px 2px;
            background: #000;
            color: #fff;

            &:before {
              content: "";
              width: 0;
              height: 0; 
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #000;
              position: absolute;
              top: 100%;
              left: calc(50% - 5px);
            }
          }

          &:hover {
            border: solid 1px #0a0a0a;

            .variant-option-expandeds {
                opacity: 1;
                transition: all .3s linear;
            }
          }
        }
        .form-radio:checked + .variant-option-swatch {
          border: solid 1px #0a0a0a;
        }
      }

      .form-field[data-product-attribute="set-rectangle"] {
        display: block;
        text-align: left;
        margin-bottom: stencilNumber("padding-small");

        .label--alternate {
            text-align: left;
            font-weight: fontWeight("bold");
            margin-bottom: stencilNumber("padding-small") * .5;
            font-size: 12px;
            letter-spacing: .5px;
        }
        .variant-option {
          border: 1px solid #ccc;
          display: inline-block;
          cursor: pointer;
          min-width: 35px;
          height: 35px;
          line-height: 33px;
          text-align: center;
          margin-right: 2px;
          margin-bottom: 5px;
          margin-left: 0;
          padding: 0;
          transition: .2s;
         
          .variant-label {
            margin: 0;
            width: 100%;
            height: 100%;
            padding: 0 7px 1px;
            border: 1px solid transparent;
            text-transform: capitalize;
          }
        }
        .form-radio:checked + .variant-option {
            background: stencilColor('navUser-color');
            color: stencilColor('color-white');
            .variant-label {
              font-weight: bold;
            }
        }
      }
    }

    .pdp-fitguide-modelbox {
      text-align: left;
      margin-bottom: stencilNumber("padding-small") * .5;
      font-size: 13px;
      letter-spacing: .5px;
      font-weight: fontWeight("normal");

      .size_finder {
        text-decoration: underline;
        width: 100%;
        display: block;
        margin-left: 0;
        padding-left: 0;
      }
    }

    #addToCart-btn {
      background-color: #0A0A0A;
      color: #fff;
      border: 2px solid #0A0A0A;
      margin-bottom: 15px;
      margin-top: 15px;
      text-align: center;
      padding: 16px 15px;
      cursor: pointer;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: normal;
      text-transform: uppercase;
      transition: .2s;
      border-radius: 0;
      width: 100%;
      white-space: normal;
    }
    .guantee-text {
      font-size: 13px;
      font-weight: 400;
    }
  }
  .pdp-fit-links {
    margin-top: -15px;
    font-weight: 400;
    font-size: 13px;
  }
}