<div class="form-field" data-product-attribute="swatch"
    {{#if this.display_name '===' 'Color'}} data-class="color-swatch"{{/if}}
>
    {{#each this.values}}
        <input class="form-radio" type="radio" name="attribute[{{../id}}]" value="{{id}}" id="attribute_swatch_{{../id}}_{{id}}" {{#if selected}}checked data-default{{/if}} {{#if ../required}}required{{/if}}>
        <label class="variant-option-swatch" for="attribute_swatch_{{../id}}_{{id}}" data-product-attribute-value="{{id}}">
            {{#if image}}
                <img class='option-variant--pattern' src='{{getImage image "default_size"}}' />
            {{/if}}
            {{#if data.[2]}}
                <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[1]}}"></span>
                <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[2]}}"></span>
            {{else}}
                {{#if data.[1]}}
                    <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                    <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[1]}}"></span>
                {{else}}
                    {{#if data.[0]}}
                        <span class='option-variant--color' title="{{this.label}}" style="background-color: #{{data.[0]}}"></span>
                    {{/if}}
                {{/if}}
            {{/if}}
            {{#if pattern}}
                <span class="variant-option-expandeds">
                    {{this.label}}
                </span>
            {{/if}}
        </label>
    {{/each}}
</div>
