<div id="facetedSearch" class="facetedSearch sidebarBlock">
    {{> components/faceted-search/selected-facets this.selected}}

    <a href="#facetedSearch-navList" role="button" class="facetedSearch-toggle toggleLink" data-collapsible>
        <span class="facetedSearch-toggle-indicator">
            <span class="toggleLink-text">
                Size Filter +
            </span>
        </span>
    </a>

    {{#any facets visible=true}}
        <div
            id="facetedSearch-navList"
            class="facetedSearch-navList blocker-container">
            <div class="accordion accordion--navList">
                {{#each facets}}
                    {{#if visible}}
                        {{{dynamicComponent 'components/faceted-search/facets'}}}
                    {{/if}}
                {{/each}}
            </div>

            <div class="blocker" style="display: none;"></div>
        </div>
    {{/any}}
</div>
