// =============================================================================
// GRID (CSS)
// =============================================================================


.row {
    max-width: unset;
    width: auto;
}

.pdp {
    .breadcrumbs {
        display: none;

        @include breakpoint("medium") {
            display: block;
        }   
    }
}