<ul class="tabs" data-tab>
    <li class="tab is-active">
        <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
    </li>
    {{#each product.options }}
        {{#if type '!==' 'Configurable_PickList_Set' }}
        <li class="tab">
            <a class="tab-title" href="#tab-{{dashcase (lowercase (sanitize display_name))}}">{{display_name}}</a>
        </li>
        {{/if}}
    {{/each}}
    <!-- {{#all settings.show_product_reviews theme_settings.show_product_reviews_tabs product.reviews.total}}
        <li class="tab">
            <a class="tab-title productView-reviewTabLink" href="#tab-reviews">{{lang 'products.reviews.header' total=product.reviews.total}}</a>
        </li>
    {{/all}} -->
</ul>
<div class="tabs-contents">
    <div class="tab-content is-active" id="tab-description">
        {{{product.description}}}
    </div>
    {{#each product.options }}
        {{#if type '!==' 'Configurable_PickList_Set' }}
            <div class="tab-content modifier-options" id="tab-{{dashcase (lowercase (sanitize display_name))}}">
                <textarea hidden >{{prefill}}</textarea>
                <div></div>
            </div>
        {{/if}}
    {{/each}}
</div>
